@using Microsoft.AspNetCore.Identity
@using Shopeee.Areas.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link rel="stylesheet" href="~/css/usr-connect.css" />
@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <div class="user-connected">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a id="manage" class="usr-connected-item usr-name-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi @UserManager.GetUserName(User)</a>
            <img class="usr-connected-item" src="~/imgs/line.svg" />

            @{var UserName = await UserManager.GetUserAsync(User);
                if (await UserManager.IsInRoleAsync(UserName, "Administrator"))
                {
                    <a id="Administration" class="usr-connected-item" asp-area="" asp-controller="Administrations" asp-action="Index" title="Administration"> <img class="usr-connected-item usr-connected-img icon" src="~/imgs/administration-panel.svg" /></a>
                }
            }
            <a class="usr-connected-item bag-link" asp-area="" asp-controller="ShoppingCarts" asp-action="Index" asp-route-id="@UserName.Id" title="Shopping Cart">
                <img title="Shopping Cart" class="usr-connected-item usr-connected-img icon" src="~/imgs/ico-shoppingcart.svg" />
            </a>
            
            <button type="submit" id="logout" class="btn-logout usr-connected-item usr-connected-img icon">
                <img title="Logout " src="~/imgs/btn-disconnect.svg" />
            </button>
        </form>
    </div>


    @*
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" id="logout" class="usr-connected-item usr-connected-img"><img src="~/imgs/btn-disconnect.svg" /></button>
            </form>
        </li>*@

}
else
{
    <div class="user-disconnected">
        <form asp-area="Identity" asp-page="/Account/Register">
            <button class="button btn-sign-up"><span>Sign Up</span></button>
        </form>
        <form asp-area="Identity" asp-page="/Account/Login" method="get">
            <button class="button usr-disconnected-item btn-sign-in"><span>Sign In</span></button>
        </form>
    </div>

}
@*</ul>*@
