@page
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    bool AdminUser = false;
    if (SignInManager.IsSignedIn(User))
    {
        var UserName = await UserManager.GetUserAsync(User);
        if (await UserManager.IsInRoleAsync(UserName, "Administrator"))
        {
            ViewData["Title"] = "Create User";
            AdminUser = true;
        }
    }
    else
        ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
    var Client = roles.Find(r => r.Name.Equals("Client"));
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (AdminUser)
            {
                <div class="form-group">
                    <label asp-for="Input.Role"></label>
                    <select asp-for="Input.Role" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            }
            else
            {
                <div class="form-group">
                    <input asp-for="Input.Role" type="hidden" class="form-control" value="@Client.Id" />
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
