@model IEnumerable<Shopeee.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/items.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/ItemsSearch.js"></script>
</head>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <input id="livesearchtextbox" name="livesearchtextbox" placeholder="Search" autocomplete="off" data-request-url="@Url.Action("LiveSearch", "Items")" />
</p>
<p>
    <div class="form-group">
        <label class="control-label">Type</label>
        <select asp-items="Html.GetEnumSelectList<ItemType>()" class="form-control" id="typeselect">
            <option value="" selected="selected"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Color</label>
        <select asp-items="Html.GetEnumSelectList<ColorType>()" class="form-control" id="colorselect">
            <option value="" selected="selected"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Gender</label>
        <select asp-items="Html.GetEnumSelectList<GenderType>()" class="form-control" id="genderselect">
            <option value="" selected="selected"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Brand</label>
        <select asp-items="ViewBag.BrandId" class="form-control" id="brandselect">
            <option value="" selected="selected"></option>
        </select>
    </div>
</p>

<div id="con">
    @Html.Partial("_PartialItemsView", Model)

</div>
