@model Shopeee.Models.Brand
@using Shopeee.Class;
@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/css/ItemDetailsStyleSheet.css" />
</head>




<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container">

        <div class="left">
            <img src="@Url.Content(GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>Model.Logo)" style="width:100%" />
        </div>

        <div class="right">
            <p><h1>@Html.DisplayFor(modelItem => Model.Name)</h1></p>

            <table>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Name)</div></td>
                    <td>
                        <input asp-for="Name" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Logo)</div></td>
                    <td>
                        <input asp-for="TempPicture" class="form-control" type="file" name="postedFiles" accept=".jpg, .jpeg, .webp, .bmp, .png" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index">Back to List</a>
    </div>
</form>