@model IEnumerable<Shopeee.Models.Brand>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/brands.css" />
</head>
    <div id="con">
        <h1>Our Brands</h1>
        <input id="txt_search" class="search-bar" autocomplete="off" />
        <button id="btn_search" class="search-btn">Search</button>
        <div class="brands-container">
            @foreach (var item in Model)
            {
                <div class="brand-brand-item">
                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>item.Logo)" />
                </div>
            }
        </div>
    </div>


<script>
    presearch = null
    document.getElementById('btn_search').addEventListener('click', function (e) {
        //Run LiveSearch on ever key up
        let value = document.getElementById('txt_search').value
        if (value != presearch) {
            Search(value)
            presearch = value
        }
    });

    function Search(value) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Index", "Brands")",
            data: {
                search: value
            },
            datatype: "html",
            success: function (data) {
                $('#con').html(data)
                document.getElementById('txt_search').value = value

            }
        });
    }
</script>
