@model IEnumerable<Shopeee.Models.Branch>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/branches.css" />
</head>

<div class="body">
    <h1>Our Branches</h1>
    <a asp-action="Create">
        <button type="button"> Create New Branch</button>
    </a>
    <p>
        <input id="livesearchtextbox" name="livesearchtextbox" placeholder="Search" autocomplete="off" />
    </p>
    <div id="con">
        @Html.Partial("_PartialBranchesView", Model)
    </div>
</div>

<script>
    presearch = null
    document.getElementById('livesearchtextbox').addEventListener('keyup', function (e) {
        //Run LiveSearch on ever key up
        let value = document.getElementById('livesearchtextbox').value
        if (value != presearch) {
            LiveSearch(value)
            presearch = value
        }
    });

    var elements = document.getElementsByClassName('form-control')
    Array.from(elements).forEach(function (element) {
        element.addEventListener('change', function (e) {
            let value = document.getElementById('livesearchtextbox').value
            LiveSearch(value)
        });
    });

    function LiveSearch(value) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LiveSearch", "Branches")",
            data: {
                search: value
                //type: $("#typeselect :selected").text(),
                //color: $("#colorselect :selected").text(),
                //gender: $("#genderselect :selected").text(),
                //brand: $("#brandselect :selected").text()
            },
            datatype: "html",
            success: function (data) {
                // Insert the returned search results html into the result element
                $('#con').empty()
                $('#con').html(data)
            }
        });
    }
</script>
