@model Shopeee.Controllers.AdministrationsController.ViewModel
@{
    ViewData["Title"] = "Administration Panel";
}
<head>
    <link rel="stylesheet" href="~/css/administration.css" />
</head>



<aside class="admin-sidebar">
    <h1 class="admin-title">Admin Dashboard</h1>
    <a asp-action="UsersList" class="admin-list-item">Users</a>
    <a asp-action="RolesList" class="admin-list-item">Roles</a>
    <a asp-controller="Items" asp-action="Index" class="admin-list-item">Items</a>
    <a asp-controller="Brands" asp-action="Index" class="admin-list-item">Brands</a>
    <a asp-controller="Branches" asp-action="Index" class="admin-list-item">Branches</a>
</aside>
<div class="statisticsview">
    <partial name="Statistics" />
</div>