@{
    ViewData["Title"] = "Statistics";
}
<head>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="~/css/administration.css" />
</head>
<div class="charts-container">
        <svg id="barChart"></svg>
        <script src="~/js/BarChart.js"></script>
        <script type="text/javascript">            
            d3.json("Administrations/StatisticsItemsinCarts", (data) => BarChart(data, 400, 300));
        </script>
        <svg id="pieChart"></svg>
        <script src="~/js/PieChart.js"></script>
        <script type="text/javascript">
            d3.json("Administrations/StatisticsItemsByBrand", (data) => PieChart(data, 480, 390));
        </script>
</div>