.body {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
}


button {
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 19px;
    background-color: #009A4D;
    color: white;
    cursor: pointer;
}

    button:hover {
        background-color: #009A4D;
        opacity: 0.9;
    }
.filter-group{
    width: 30%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.search-bar{
  width: 150%;
}

.center-input{
    display: flex;
    align-items: center;
    flex-direction: column;
}