p {
width: 100%;
}

a {
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:50px;
}
.card {
    display: grid;
    width: 310px;
    justify-items: center;
    padding: 1px 1px;
    border-radius: 0;
}
    .card > a > img {
        margin: auto;
        width: 250px;
        aspect-ratio: auto;
        align-self: center;
    }

.price {
    color: black;
    font-weight:bold;
    font-size: 25px;
}

.card > p > button {
    border: none;
    outline: 0;
    padding: 12px;
    color: green;
    text-transform: uppercase;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    transition: 0.2s ease all;
}

.card > p > button:hover {
    background-color: green;
    color: white;
}

.livesearchtextbox {
    width: 100px;
}

.form-group{
    width:100px;
    align-self:center;
    display: inline-grid;
}

.form-control-item{
    width: 20%;
}