p {
    margin: 1px
}

a {
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:50px;
}
.card {
    display: grid;
    /*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    width: 310px;
    /*aspect-ratio: auto;*/
    justify-items: center;
    margin: auto;
    padding: 1px 1px;
    border-radius: 0;
    /*    background-color: red;*/
}
    .card > a > img {
        margin: auto;
        width: 250px;
        aspect-ratio: auto;
        align-self: center;
    }
/*.card {
    display: inline-grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: black;
    font-weight:bold;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: green;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
}

.card button:hover {
    opacity: 0.7;
}*/

.livesearchtextbox {
    width: 100px;
}

.form-group{
    width:100px;
    align-self:center;
    display: inline-grid;
}