p {
    margin: 1px
}

a {
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:50px;
}

.card {
    display: inline-grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: black;
    font-weight:bold;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: green;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
}

.card button:hover {
    opacity: 0.7;
}
