/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.container {
    width: 100%;
    height: 20%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.blank-div {
    width: 33%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    margin-right: 53px;
}

    .nav-link:hover {
        color: #009A4D;
    }

    .nav-link:after {
        color: #009A4D;
    }

.user-connected {
/*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
}

.usr-connected-item {
    margin-left: 15px;
}

.usr-connected-img {
    width: 10%;
    height: 10%;
}

.user-disconnected {
    display: flex;
/*display: none;*/
    justify-content: center;
    align-items: center;
}

    .user-disconnected > button {
        border: none;
        border-radius: 50px;
        padding: 5px 15px;
        font-size: 19px;
        margin-right: 30px;

    }

.btn-sign-in {
    background: none;
    color: #009A4D;
}

.btn-sign-up {
    background-color: #009A4D;
    color: white;
}

a.navbar-brand {
    color: black;
    font-size: 54px;
    text-align: right;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -6.5px;
    transition: 0.3s;
}

    a.navbar-brand:hover {
        color: #009A4D;
    }

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/
