@using Shopeee.Areas.Identity;
@using Microsoft.AspNetCore.Identity;
@model UserManager<ApplicationUser>;
@{
    ViewData["Title"] = "Index";
}

<h1>List of Roles</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>User Name</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users.ToList())
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in Model.GetRolesAsync(user).Result.AsQueryable())
                    {
                        @role
                    }
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>  