@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>temp control controllers: <a href="https://localhost:44319/Users">Users</a> <a href="https://localhost:44319/ShoppingCarts">ShoppingCarts</a></p>
    <p><a href="https://localhost:44319/Items">Items</a> <a href="https://localhost:44319/Brands">Brands</a> <a href="https://localhost:44319/Branches">Branches</a></p>
</div>