@model Shopeee.Controllers.HomeController.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<script src="~/js/APIfunctions.js"></script>*@
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="https://use.fontawesome.com/6e16709d88.js"></script>
</head>
<body class="home-body">
    <section class="home-video">
        <h2>#DRESS_YOUR_DAY</h2>
        <canvas id="myCanvas"></canvas>
        <video width="1800" height="400" autoplay loop>
            <source src="~/video/homepagevideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

    <section class="section" id="our-brands-section">
        <h2>#our_brands</h2>
        <div class="brand-container">
            @foreach (Brand brand in Model.ourBrands)
            {
                <div class="brand-item">
                    <p>@brand.Name</p>
                    <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@brand.Logo" />
                </div>
            }
        </div>
    </section>

    <section class="section" id="our-team-section">
        <h2>#our_team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Stav Gabay</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Idan Bar Shlomo</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Almog Frozenfar</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Noam Dadush</h4>
                <p>College of management</p>
            </div>
        </div>
    </section>
    <section class="section" id="contact-section">
        <h2>#contact_us</h2>
        <ul>
            <li>
                <p>Street Jump 21 TLV, Israel</p>
            </li>
            <li>
                <i></i>
                <p>(+972) 772355910</p>
            </li>
            <li>
                <i></i>
                <p>support@Shopeee.co.il</p>
            </li>
        </ul>
    </section>

    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "#F0F0F0";
        ctx.fillRect(0, 0, 1200, 10);
    </script>

</body>
